extends layout

block content
	.alert.alert-info
		p Welcome to #{title} #{user.displayName} 
			img(src='https://graph.facebook.com/' + user._json.username + '/picture')
		ul
			li You are that little spartan on the map
			li Better start gaining some points to help your army

	.map_container
		#map_canvas