.modal
	.modal-header
		h3 You must choose your faction
	.modal-body
		table.factions
			tr
				td Argos
				td Naxos
			tr
				td: a(id="argos", href="#", class='faction')
					img(src='img/argos.png')
				td: a(id="naxos", href="#", class='faction')
					img(src='img/naxos.png')
	.modal-footer