.offset-top
	margin-top 50px

.map_container
	width 100%
	height 400px

#map_canvas
	display block
	width 100%
	height 100%

li
	img 
		width 20px
		margin .2em
		border-radius 3px
		background #fff
		padding .1em

.nav li:nth-child(2):first-letter
	text-transform uppercase

table.factions
	width 100%
	td
		text-align center
	tr:first-child
		font-size 2em
		font-weight bold
	tr:nth-child(2)
		img
			-webkit-transition-duration 1s
		td:first-child img:hover
			-webkit-transform rotateY(360deg)
		td:last-child img:hover
			-webkit-transform rotateX(-360deg)